{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["google", "react-app"],
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "indent": "off",
    "comma-dangle": "off",
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "no-trailing-spaces": "off",
    "linebreak-style": [
      "off"
    ],
    "semi": [
      "error",
      "always"
    ],
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "require-jsdoc": "off",
    "quotes": [
      "error",
      "single",
      {
        "allowTemplateLiterals": true
      }
    ]
  }
}
